@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$family-sans-serif: 'Inter', sans-serif;
// $primary: #188eac !default;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
// $hero-darken: $dark !default;

@media screen and (max-width: 768px) {
  .buttons.is-centered-mobile {
    justify-content: center;
  }
  .buttons.is-centered-mobile:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
