@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$family-sans-serif: 'Inter', sans-serif;
// $primary: #188eac !default;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
// $hero-darken: $dark !default;

@media screen and (max-width: 768px) {
  .buttons.is-centered-mobile {
    justify-content: center;
  }
  .buttons.is-centered-mobile:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

.user {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}