<div class="navbar-brand">
    <a class='navbar-item {{ if eq .Kind "home" }}has-text-weight-bold disabled-link{{ end }} is-lowercase' href="/">
        <div class="has-transition">home</div>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true" style="height: 1px"></span>
        <span aria-hidden="true" style="height: 1px"></span>
        <span aria-hidden="true" style="height: 1px"></span>
    </a>
</div>
<div id="navbarBasicExample" class="navbar-menu is-shadowless">
    <div class="navbar-start">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
        <a class="navbar-item {{ if $active }}has-text-weight-bold disabled-link{{ end }} is-lowercase"
            href="{{ .URL }}" title="{{ .Name }}">
            <div class="has-transition">{{ .Name }}</div>
        </a>
        {{ end }}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a title="Email Simone Precicchiani" class="button is-primary"
                    href="mailto:simone.precicchiani@gmail.com" target="blank">
                    <span class="icon">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                    </span>
                    <span>email me</span>
                </a>
            </div>
        </div>
    </div>
</div>